.git
.gitignore
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
coverage.xml
db.sqlite3
staticfiles
media
.env
*.pem
.idea
.vscode
.DS_Store
tasks
README.md
